<!DOCTYPE html>
<html>
<%- include('../partials/head.ejs')%>
<body>
    <div class="container">
        <%- include('../partials/nav.ejs') %>
        <div style="margin-left: 2px;">
            <h3>
                All Blogs 
            </h3>
            <div style="margin-left: 30px;">
                <% if(blogs.length > 0 ) {%>
                    <% blogs.forEach((blog,index)=>{ %>
                    <h3><%=index+1%>- <%= blog.title %></h3>
                    <a href="/blogs/<%= blog._id %>" style="text-decoration: none;color: gray;">
                        <p><%= blog.snippet %></p>
                        <p><%= blog.body  %></p>
                    </a>
                    <% }) %>
                <% } else{ %>
                    <p>No Blogs in Database yet</p>
                <% } %>
            </div>
        </div>
        <%- include("../partials/footer.ejs") %>
    </div>
</body>
</html>
